<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>QTKit</key>
	<array>
		<string>com.pixiapps.ecoute</string>
	</array>
	<key>WebKit</key>
	<array>
		<string>com.industriousone.Musicality</string>
		<string>com.industriousone.PandoraMusicality</string>
	</array>
</dict>
</plist>
